<!DOCTYPE html>
<html>
<head>
<title>Nocturnal</title>
<!-- {{ url_for('static',filename='styles/index.css') }} -->
<link rel="stylesheet" type="text/css" href="../static/styles/index.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>

  <div class="sidenav">
    <a href="#"><img src="../static/dashboard.png" alt="Dashboard" style="width: 40px"></a>
    <a href="#"><img src="../static/notifications.png" alt="Notifications" style="width: 40px"></a>
    <a href="#"><img src="../static/profile.png" alt="Profile" style="width: 40px"></a>
  </div>

  <div class='container'>

      <div class='profile'>
        <img src="../static/default.jpeg" alt="mufeez.jpg">
        <h1>Mufeez Amjad</h1>
        <h2>Master Bedroom</h2>
        

        <div class="metrics">

          <div>
            <h3>18</h3>
            <h4>years old</h4>
          </div>
  
          <div>
            <h3>Male</h3>
            <h4>Gender</h4>
          </div>
  
          <div>
              <h3>175 cm</h3>
              <h4>Height</h4>
            </div>
  
          <div>
              <h3>75 kg</h3>
              <h4>Weight</h4>
            </div>

        </div>
        
        
      </div>

      <div class='tips'>
        <h2>Tips</h2>
        <ul>
          <li>Get some exercise!</li>
          <li>Read a book before sleeping.</li>
          <li>Drink some of your favourite tea.</li>
        </ul>
      </div>

      <div class='sleep-quality'> <!-- +graph -->
        <h2>Sleep Quality</h2>
        <h3>79%</h3>
      </div>

      <div class='sleep-cycle'> <!-- graph -->
        <h2>Sleep Cycle</h2>
      </div>

      <div class='sleep-quality'>
        <h2>Your Ideal Sleeping Conditions</h2>
        <ul>
          <li>Temperature: 21 degrees</li>
          <li>Humidity: </li>
          <li>Lighting: Dim</li>
        </ul>
      </div>

      <div class='time-in-bed'>
        <h2>Time in Bed Today</h2>
        <h3>5:30</h3>
      </div>

      <div class='snoring'>
        <h2>Snoring</h2>
        <h3>0 dB</h3>
      </div>
      
      
        
        
      </div>

  </div>

  



</body>
</html>