<!DOCTYPE html>
<html>
<head>
<title>Nocturnal</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js'></script>
</head>
<body>

  <div class="sidenav">
    <a href="#"><i class="fas fa-moon" style="font-size: 30px"></i></a>
    <a href="#"><i class="far fa-bell" style="font-size: 30px"></i></a>
    <a href="#"><i class="far fa-user" style="font-size: 30px"></i></a>
  </div>

  <div class='container'>

    <div class="sleepGraph" id="sleepCycleGraph">
      
        <canvas id="myChart" width="1050" height="200"></canvas>
        <script>
          // bar chart data

          var myChart = document.getElementById("myChart").getContext("2d");

          var gradient = myChart.createLinearGradient(0, 0, 0, 400);
          gradient.addColorStop(0, 'rgba(255,255,255,0.6)');   
          gradient.addColorStop(0.7, 'rgba(255,255,255,0)');

          var lineData = {
            labels : [
              {% for item in sleepGraphLabels %}
                "{{ item }}",
              {% endfor %}
            ],
            datasets : [{
              backgroundColor: gradient,
              borderColor: "#fff",
              
              bezierCurve : true,
              data : [
                  {% for item in values %}
                    {{ item }},
                  {% endfor %}
                ]
            }]     
          }
          
          // get bar chart canvas
          steps = 10
          // max = {{ max }}
          // draw bar chart
          var myLineChart = new Chart(myChart, {
              type: 'line',
              data: lineData,
              options: {
                legend: {
                    display: false,
                    labels: {
                        fontColor: 'rgb(255, 255, 255)'
                    },
                },
                scales: {
                    xAxes: [{
                      gridLines: {
                        display: false,
                      },
                      ticks: {
                        fontColor: 'rgb(255, 255, 255, 0.5)',
                      }
                    }],
                    yAxes: [{
                      display: false,
                      gridLines:  {
                        display: false,
                      },
                      
                    }]
                }
              }
          });
        </script>
    </div>
    
    <div class="content">

      <div class="panel">
        <div class="header">
            <h2>Analytics</h1>
            <h1>Time in Bed</h1>
        </div>
          
          <div class="stats">

              <div class="split">
                  <h1>Today</h1>
                  <h3 style="{{'color:green' if timeSleptToday >= averageTime else 'color:green' }}">{{ timeSleptToday }} hours</h3>
              </div>

              <div class="split">
                  <h1>Average</h1>
                  <h3>{{averageTime}} hours</h3>
              </div>
            </div>

            <!-- TODO: Have tabs for different lengths of time -->
          
          <div class="timeGraph">
            
              <canvas id="timeChart" width="200" height="100"></canvas>
              <script>
                // bar chart data
                var lineData = {
                  labels : [
                    {% for item in timeWeekLabels %}
                      "{{ item }}",
                    {% endfor %}
                  ],
                  datasets : [{
                    backgroundColor: "#248af7",
                    borderColor: "#248af7",
                    fill: false,
                    bezierCurve : true,
                    data : [
                        {% for item in timeGraphData %}
                          {{ item }},
                        {% endfor %}
                      ]
                  }]     
                }
                
                // get bar chart canvas
                var myChart = document.getElementById("timeChart").getContext("2d");
                steps = 10
                // max = {{ max }}
                // draw bar chart
                var myLineChart = new Chart(myChart, {
                    type: 'line',
                    data: lineData,
                    options: {
                      legend: {
                          display: false,
                          labels: {
                              fontColor: 'rgb(255, 255, 255)'
                          },
                      },
                      scales: {
                          xAxes: [{
                            gridLines: {
                              display: false,
                            }
                          }],
                          yAxes: [{
                            display: false,
                            gridLines:  {
                              display: false,
                            },
                            ticks: {
                                beginAtZero: true
                            }
                          }]
                      }
                    }
                });
              </script>
          </div>

          <div class="footer">
              <!-- <i class="fas fa-sync"></i> -->
              <h1>Just updated</h1>
          </div>
    
      </div>

      <div class="panel">
          <div class="header">
              <h2>Analytics</h1>
              <h1>Sleep Quality</h1>
          </div>
            
            <div class="stats">
  
                <div class="split">
                    <h1>Today</h1>
                    <h3 style="color: green">Good</h3>
                </div>
  
                <div class="split">
                    <h1>Average</h1>
                    <h3 style="color: red">Poor</h3>
                </div>
            </div>

            <div class="timeGraph">
            
                <canvas id="sleepWeekChart" width="200" height="100"></canvas>
                <script>
                  // bar chart data

                  var lineData = {
                    labels : [
                      {% for item in timeWeekLabels %}
                        "{{ item }}",
                      {% endfor %}
                    ],
                    datasets : [{
                      backgroundColor: "#248af7",
                      borderColor: "#248af7",
                      fill: false,
                      bezierCurve : true,
                      data : [
                          {% for item in thisWeekSleepScore %}
                            {{ item }},
                          {% endfor %}
                        ]
                    }]     
                  }
                  
                  // get bar chart canvas
                  var myChart = document.getElementById("sleepWeekChart").getContext("2d");
                  steps = 10
                  // max = {{ max }}
                  // draw bar chart
                  var myLineChart = new Chart(myChart, {
                      type: 'line',
                      data: lineData,
                      options: {
                        legend: {
                            display: false,
                            labels: {
                                fontColor: 'rgb(255, 255, 255)'
                            },
                        },
                        scales: {
                            xAxes: [{
                              gridLines: {
                                display: false,
                              }
                            }],
                            yAxes: [{
                              display: false,
                              gridLines:  {
                                display: false,
                              }
                            }]
                        }
                      }
                  });
                </script>
            </div>
  
            <div class="footer">
                <h1>Just updated</h1>
            </div>
      
      </div>

      <div class="panel">
          <div class="header">
              <h2>Analytics</h1>
              <h1>Wake Up and Sleep Time</h1>
          </div>
            
            <div class="stats">
  
                <div class="split">
                    <h1>Sleep</h1>
                    <h3>8:00 pm</h3>
                </div>
  
                <div class="split">
                    <h1>Wake Up</h1>
                    <h3>6:00 am</h3>
                </div>
            </div>

            <div class="wakeSleepTimeGraph">
            
                <canvas id="wakeSleepGraph" width="200" height="100"></canvas>
                <script>
                  // bar chart data

                  var lineData = {
                    labels : [
                      {% for item in timeWeekLabels %}
                        "{{ item }}",
                      {% endfor %}
                    ],
                    datasets : [{
                      backgroundColor: "#248af7",
                      borderColor: "#248af7",
                      fill: false,
                      bezierCurve : true,
                      data : [
                          {% for item in values %}
                            {{ item }},
                          {% endfor %}
                        ]
                    },
                    {
                      backgroundColor: "#248af7",
                      borderColor: "#248af7",
                      fill: false,
                      bezierCurve : true,
                      data : [
                          {% for item in values %}
                            {{ item }}-20,
                          {% endfor %}
                        ]
                    }]     
                  }
                  
                  // get bar chart canvas
                  var myChart = document.getElementById("wakeSleepGraph").getContext("2d");
                  steps = 10
                  // max = {{ max }}
                  // draw bar chart
                  var myLineChart = new Chart(myChart, {
                      type: 'line',
                      data: lineData,
                      options: {
                        legend: {
                            display: false,
                            labels: {
                                fontColor: 'rgb(255, 255, 255)'
                            },
                        },
                        scales: {
                            xAxes: [{
                              gridLines: {
                                display: false,
                              }
                            }],
                            yAxes: [{
                              display: false,
                              gridLines:  {
                                display: false,
                              }
                            }]
                        }
                      }
                  });
                </script>
            </div>
  
            <div class="footer">
                <h1>Just updated</h1>
            </div>
      
      </div>

      <!-- <div style="display: flex; flex-direction: column;"> -->
          <div class="panel">
              <div class="header">
                  <h2>Insights</h1>
                  <h1>Your Ideal Sleeping Conditions</h1>
              </div>
                
                <div class="stats">
                  <h1>Temperature</h1>
                    <div class="split">
                        <h1>Today</h1>
                        <h3 style="{{'color:red' if tempToday > idealTemperature+1 or tempToday < idealTemperature-1 else 'color:green' }}">{{ tempToday }}°</h3>
                    </div>
      
                    <div class="split">
                        <h1>Ideal</h1>
                        <h3 style="color: green">{{ idealTemperature }}°</h3>
                    </div>
                </div>

                <div class="stats">
                  <h1>Humidity</h1>
                  <div class="split">
                      <h1>Today</h1>
                      <h3 style="{{'color:red' if humidityToday > idealHumidity+3 or humidityToday < idealHumidity-3 else 'color:green' }}">{{ humidityToday }} RHF</h3>
                  </div>
    
                  <div class="split">
                      <h1>Ideal</h1>
                      <h3 style="color: green">{{ idealHumidity }} RHF</h3>
                  </div>
              </div>

              <div class="stats">
                <h1>Lighting</h1>
                <div class="split">
                    <h1>Today</h1>
                    <h3 style="{{'color:green' if lightingToday == idealLighting else 'color:red' }}">{{ lightingToday }}</h3>
                </div>
  
                <div class="split">
                    <h1>Ideal</h1>
                    <h3 style="color: green">{{ idealLighting }}</h3>
                </div>
            </div>
          </div>
          
          <div class="panel" style="width: 100%">
              <div class="header">
                  <h2>Insights</h1>
                  <h1>Tips for Better Sleep</h1>
              </div>

                
                
                <ol>
                  <li id="tip1"></li>
                  <li id="tip2"></li>
                  <li id="tip3"></li>
                </ol>

                <script>
                    // var tips = {{ tipsArr }};

                    var tipsLength = 16;

                    var random1 = Math.floor(Math.random() * tipsLength);

                    var random2 = Math.floor(Math.random() * tipsLength);
                    
                    while (random1 == random2) {
                      random2 = Math.floor(Math.random() * tipsLength);
                    }

                    var random3 = Math.floor(Math.random() * tipsLength);

                    while (random3 == random2 || random3 == random1) {
                      random3 = Math.floor(Math.random() * tipsLength);
                    }
                    // {% for item in tipsArr %}
                    //   "{{ item }}",
                    // {% endfor %}
                    document.getElementById("tip1").innerHTML = "{{ tipsArr[0] }}";
                    document.getElementById("tip2").innerHTML = "{{ tipsArr[1] }}";
                    document.getElementById("tip3").innerHTML = "{{ tipsArr[2] }}";
                    // document.getElementById("tip1").innerHTML = "{{ tipsArr[1] }}";
                </script>
          </div>
          
      <!-- </div> -->
       
        

    </div>
    
    
        
  </div>

  


  <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
</body>
</html>