<!DOCTYPE html>
<html>
<head>
<title>Nocturnal</title>
<link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>

  <div class='header'>
    <h1>Nocturnal: Sleep Tracker</h1>
  </div>

  <div class='container'>

      <div class='profile'>
        <img src="../static/mufeez.jpg" alt="mufeez.jpg">
        <h1>Mufeez Amjad</h1>
        <h2>Master Bedroom</h2>

        <div>
          <h3>18</h3>
          <h4>years old</h4>
        </div>

        <div>
          <h3>Male</h3>
          <h4>Gender</h4>
        </div>

        <div>
            <h3>175 cm</h3>
            <h4>Height</h4>
          </div>

        <div>
            <h3>75 kg</h3>
            <h4>Weight</h4>
          </div>
        
      </div>

  </div>

  



</body>
</html>